body { font-family : Ariel , sans-serif;}
h2 { color: #007bff;}
ul{  list-style-type : none;
    padding : 0;}

    ul li {background : #f8f9fa;
           padding: 10px ;
           margin: 5px 0 ;
           border-left: 5px solid #007bff ;
           }

footer {

background-color: #1bf526;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;
}
